.page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background-color: var(--color-bg-default);
}

.content {
  display: flex;
  margin-top: 16px;
  gap: 24px;
}

.sidebar {
  width: 256px;
  flex-shrink: 0;
}

.grid {
  padding: 0;
}

.empty {
  text-align: center;
  padding: 64px 0;
}

.itemsGrid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .itemsGridGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .itemsGridGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .itemsGridGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.itemsGridList {
  grid-template-columns: 1fr;
}
