.root {
  margin-top: 16px;
  padding: 16px;
  border-radius: var(--radius-md);
  background-color: var(--color-bg-paper);
  box-shadow: var(--color-shadow-ai);
  max-width: 450px;
  position: absolute;
  right: 600px;
  top: -100px;
}

.text {
  margin-bottom: 8px;
}

.actions {
  display: flex;
  gap: 8px;
}
